@font-face {
  font-family: "Bitter";
  src: url("./fonts/Bitter-Regular.ttf");
}

@font-face {
  font-family: "Bitter";
  font-weight: 700;
  src: url("./fonts/Bitter-Bold.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("./fonts/Raleway-Bold.ttf");
}

body {
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
  font-size: 100.01%;
}

.cf:before,
.cf:after { 
  content:" ";
  display:table; 
  height: 0; 
  font-size:0; 
  line-height:0; 
  visibility:hidden; 
} 

.cf:after { 
  clear:both; 
} 

.cf { 
  *zoom:1; 
}


body {
  margin: 0;
  padding: 0;
}

header,
section,
nav,
footer {
  color: silver;
}

h1, h2, h3, h4 {
  font-family: "Bitter";
  font-weight: 400;
}

#masthead {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border: 0;
  border-bottom: 2px solid #c0607f;
  z-index: 130;
  background: #666;
  color: whitesmoke;
  opacity: 0.9;
}

#masthead h1 {
  display: inline-block;
  margin: 0.25em 0em;
}

#masthead h1 a {
  color: #f090af;
  text-decoration: none;
}

#main {
  margin: 3.5em auto 0;
  background-image: url('../images/background.png');
  background-position: top left;
  background-repeat: repeat-y;
}

#media-hero {
  margin: 0;
  padding-top: 0.5em;
  border-top: 0;
  border-bottom: 0;
}

#media-hero img {
  max-width: 100%;
  border-bottom: 2px solid #d09faf;
  border-top: 2px solid #d09faf;
}

#content-headline {
  margin: 0.25em 0 0;
  padding-left: 4em;
  color: #333;
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-position: 0 4px;
}

#content-headline h1 {
  border-bottom: 1px dotted #333;
}

#content-body {
  font-weight: 100;
  color: #555;
}

#content-body > div {
  margin-left: 4em;
  margin-right: 1em;
}

#content-body p {
}

#read-more {
  font-size: 1.1em;
  margin: 0.5em 0.25em;
  text-align: right;
}

#authorship,
#table-of-contents {
  font-size: 0.75em;
  margin-bottom: 0.5em;
}

#table-of-contents {
  display: none;
}

#authorship {
  text-align: right;
  margin-right: 1em;
  color: #666;
}

#authorship .mobile-label {
  display: inline;
}

#authorship img {
  display: none;
}

#authorship .author {
  font-size: 1.25em;
  font-style: italic;
}

#authorship .published {
  font-size: 1.1em;
  font-style: italic;
}

#navigation {
  clear: both;
  background-image: url('../images/background.png');
  background-position: top left;
  background-repeat: repeat-y;
}

#navigation aside {
  margin-left: 4em;
  margin-right: 1em;
}

aside ul li {
  border-bottom: 1px dotted #666;
  list-style: none;
}

aside ul li a {
  text-decoration: none;
}

#footer {
  font-size: 0.875em;
  color: #666;
  background-color: #ccc;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid #c0607f;
}

#footer p {
  margin-right: 2em;
  font-style: italic;
  text-align: right;
}
