<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ site.title }}</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- schema.org markup for Google+ -->
    <meta itemprop="name" content="" />
    <meta itemprop="description" content="" />

    <!-- twitter card markup -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sevvierose" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:creator" content="@sevvierose" />
    <meta name="twitter:image" content="" />

    <!-- facebook opengraph markup -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Slabo:300,400,500,700" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/sevvilhu.css" />

    <script src="https://use.fontawesome.com/8cafdd9a8e.js"></script>
  </head>

  <body>
