    <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-index">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#">
            <div class="logo-container">
              <span class="logo">
                <img src="assets/img/logo.png" alt="" title="" rel="tooltip" />
              </span>
              <span class="navbar-brand">{{ site.title }}</span>
            </div>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="nav-index">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="fa fa-fort-awesome"></span> home</a></li>
            <li><a href="#"><span class="fa fa-database"></span> kb</a></li>
            <li><a href="#"><span class="fa fa-rss"></span> log</a></li>
            <li><a href="#" title="Follow me on Twitter" data-placement="bottom" class="btn btn-white btn-simple btn-just-icon"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" title="Check me out on Github" data-placement="bottom" class="btn btn-white btn-simple btn-just-icon"><span class="fa fa-github"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
